body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

#app {
    display: grid;
    grid-template-rows: 30% 70%;
    width: 100%;
    height: 100%;
    background-color: #88ACBC;
}

#view-top {
    display: grid;
    overflow: auto;
}

#view-center {
    display: grid;
}

#text-box {
    display: grid;
    justify-self: center;
}

#text-time {
    margin: 0px;
    padding: 0px;
    padding-top: 25px;
    justify-self: center;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.85);
}

#text-date {
    margin: 0px;
    padding: 0px;
    justify-self: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.85);
}

#from-search {
    place-self: center;
    width: 70%;
    height: 50%;
    display: grid;
    grid-template-columns: 48px auto 48px;
}

/* 垂直居中 */
/* align-self: center; */
/* 水平居中 */
/* justify-self: center; */
#input-search {
    font-size: 14px;
    border: none;
    background-color: rgba(245, 245, 245, 0.75);
    color: rgba(10, 10, 10, 0.75);
}

#input-search:hover {
    outline: none;
    background-color: rgba(255, 255, 255, 0.85);
    color: rgba(0, 0, 0, 0.85);
}

#input-search:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.85);
    color: rgba(0, 0, 0, 0.85);
}

#select-search {
    border: none;
    background-color: rgba(245, 245, 245, 0.75);
    color: rgba(10, 10, 10, 0.75);
    /*隐藏select的下拉图标*/
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#select-search:hover {
    outline: none;
    background-color: rgba(255, 255, 255, 0.85);
    color: rgba(0, 0, 0, 0.85);
}

#select-search:focus {
    outline: none;
}

#button-search {
    border: none;
    background-color: rgba(245, 245, 245, 0.75);
    color: rgba(10, 10, 10, 0.75);
}

#button-search:hover {
    border: none;
    background-color: rgba(255, 255, 255, 0.85);
    color: rgba(0, 0, 0, 0.85);
}